main {
  display: flex;
  justify-content: center;
}

article {
  padding: 2rem;
  margin: 2rem 0px;
}

article h3 {
  color: #ca9844;
  border-bottom: solid 3px #ca9844;
}

article ul li {
  display: inline-block;
  list-style: none;
  margin: 2rem 1rem;
  color: black;
}

article ul li a {
  text-decoration: none;
  color: black;
}
